[user]
	name = Pete Sellars
	email = psellars@gmail.com
[rerere]
	enabled = 1
[push]
	default = simple
[fetch]
	prune = 1
[core]
	excludesfile = /home/psellars/.gitignore
[web]
	browser = google-chrome
[help]
	format = web
	autocorrect = 10
[alias]
	ultimate-log = log --graph --oneline --decorate
	ul = !git ultimate-log
