name: Dotfiles Tests

on:
  pull_request:
    branches:
      - main

jobs:
  dotfiles-tests:
    runs-on: ubuntu-24.04
    # act does not support ubuntu-24.04 yet so use this when running locally
    # runs-on: ubuntu-latest

    steps:

      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      # Install the Dotfiles
      - name: Install Dotfiles
        run: |
          ./install

      # Run Dotfiles Tests
      - name: Run Dotfiles Tests
        run: |
          source ~/.bashrc
          histclear
          