name: Dotfiles Tests

on:
  pull_request:
    branches:
      - main

jobs:
  dotfiles-tests:
    runs-on: ubuntu-24.04
    # act does not support ubuntu-24.04 yet so use this when running locally
    # runs-on: ubuntu-latest

    steps:

      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # Install the Dotfiles
      - name: Install Dotfiles
        run: |
          ./install

      # Run Dotfiles Tests
      - name: Run Dotfiles Tests
        run: |
          source ~/.bashrc
          histclear
          